html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 7px;
}



 .movie{
  width:220px;
  height: 320px;
  margin: 40px;
  position: relative;
  overflow: hidden;
  background-color:lightgrey;
  border-radius: 20px;
  box-shadow: 5px 5px 8px 5px #ededed;
  
}

 .movie img{
 max-width: 100%;
 border-radius: 4px;
 background-color: tomato;
}

.movie-search{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.movie-overview{
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  left:0%;
  transform: translate(100%);
  transition: transform 0.2 ease-in-out;
  max-width: 100%;
  background-color: black;
  color: white;
}

.movie:hover .movie-overview{
  transform: translate(0);
} 


.main-image img{
  z-index: 0; 
  width: 100%;
  top:0%;
}


  .info-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
  }

 .bar{
   width: 90%;
   height: 27px;
   background-color:#302c2c88;
   color:white;
   border-style: solid 2px;
 } 
  
 .icon{
   position: absolute;
   right: 97%;
   bottom: 3%;
   color: white;

 }

 
 .movie-header{
   font-weight: bold;
   font-family: sans-serif;

 }

 .btn-container{
  display: flex;
  justify-content: center;
}
.btn1{
          background: linear-gradient(
          90deg , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 68%, rgb(139, 0, 255) 100%);
          width: 25%;
          min-width: 200px;
          height: 70px;
          color: rgb(255, 255, 255);
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 10px;
          font-family: Abel, sans-serif;
          font-size: 28px;
          border: 0px;
          max-width: 1280px;
          display: block;
          margin: 20px auto;
          padding: 0px 20px;
          outline: none;
          box-shadow: rgb(139 0 255 / 40%) 5px 10px 10px -4px;
}